[submodule "static/beaglebone/a3"]
	path = static/beaglebone/a3
	url = git://github.com/jadonk/beaglebone-getting-started
[submodule "static/bonescript"]
	path = static/bonescript
	url = git://github.com/jadonk/bonescript.git
[submodule "static/beaglebone/latest"]
	path = static/beaglebone/latest
	url = git://github.com/jadonk/beaglebone-getting-started
