[submodule "static/beaglebone/a3"]
	path = static/beaglebone/a3
	url = git://github.com/jadonk/beaglebone-getting-started
[submodule "static/bonescript"]
	path = static/bonescript
	url = git://github.com/jadonk/bonescript.git
[submodule "static/beaglebone/latest"]
	path = static/beaglebone/latest
	url = git://github.com/jadonk/beaglebone-getting-started
[submodule "static/blockly"]
	path = static/blockly
	url = git@github.com:jadonk/blockly-bonescript.git
[submodule "static/freeboard"]
	path = static/freeboard
	url = git@github.com:jadonk/freeboard.git
