/**
 * Copyright Â© 2007 Jason Kridner
 */

* {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

button {
	text-decoration: underline;
	border-style: none;
	background-color: transparent;
	padding: 0px;
}

button:hover {
	cursor: pointer;
}

#title {
	font-size: medium;
	text-align: center;
}

a {
	color: black;
}

hr {
	border-top: 1px solid gray;
	border-bottom: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
	height: 0px;
	left: 0px;
	width: 100%;
	position: absolute;
}

body {
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
}

#menu * {
	font-size: small;
	display: inline;
}

#nav ul li:after {
	content: " | ";
}

#nav ul li.last:after {
	content: "";
}

#nav {
	margin: 0pt;
	padding: 4px 5px 5px;
	position: absolute;
	left: 0pt;
	top: 0pt;
}

#user ul li:after {
	content: " | ";
}

#user ul li.last:after {
	content: "";
}

#user {
	margin: 0pt;
	padding: 4px 5px 5px;
	position: absolute;
	right: 0pt;
	top: 0pt;
}

input#openid {
	border-style: solid;
	border-width: 1px;
	background: #FFFFFF url(openid-prompt-bg.gif) no-repeat;
	padding: 1px 1px 1px 18px;
}

#createtime {
	font-size: small;
}

