

body {
	background-color: #dcdcdc; 
}

/* Content Box - Standard Style V1 */
.cntboxS1{
	margin: 0; 
	background:#fff url(graphics/body_right.png) no-repeat bottom right;
}
.cntboxhead{
	background: url(graphics/head_right.png) no-repeat top right;
}
.cntboxline {
	border-top:1px solid #bababa; margin:0 4px 0 0; height:1px; border-left:1px solid #bababa;
}
.cntboxbody {
	background: url(graphics/box_left.png) no-repeat bottom left; 
	padding:10px 9px 10px 10px;
	color:#fff; font-size:10pt;font-weight:bold; 
	/*color:#DCDCDC; height:1%; */
	/*color:#DCDCDC; */
	margin-bottom:11px;
}

.cntboxhead table {
	background: url(graphics/head_left.png) no-repeat top left; 
	margin:0; padding:0px 6px 14px 10px; 
	color:#fff; font-size:10pt;
}
.cntboxhead a {
	color:#fff; font-size:10pt;font-weight:bold;
	text-decoration: none;
		line-height:100%; 

}
.cntboxhead a:hover {
	color:#FFFFFF; font-size:10pt;font-weight:bold;
	text-decoration: underline; color: white;
		line-height:100%; 

}
.cntboxhead a:visited {
	color:#FFFFFF; font-size:10pt;font-weight:bold;
	text-decoration: none; color: white;
		line-height:100%; 

}


/* body for home page */

.cntboxhome{
	margin: 0; 
	background:#fff url(graphics/body_right.png) no-repeat bottom right;
}
.cntboxheadhome{
	background: url(graphics/head_home_right.png) no-repeat top right;
}
.cntboxlinehome {
	border-top:1px solid #bababa; 
	margin:0 4px 0 0; 
	height:1px; 
	border-left:1px solid #bababa;
}
.cntboxbodyhome {
	background: url(graphics/box_left.png) no-repeat bottom left; 
	padding:0px 8px 10px 9px;
	color:#fff; font-size:10pt;font-weight:bold; 
	/*color:#DCDCDC; height:1%; */
	/*color:#DCDCDC; */
	margin-bottom:11px;
}

.cntboxheadhome table {
	background: url(graphics/head_home_left.png) no-repeat top left; 
	margin:0; padding:4px 6px 0px 10px; 
	color:#fff; 
	font-size:10pt;
}
.cntboxheadhome a {
	color:#fff; font-size:10pt;font-weight:bold;
	text-decoration: none;
		line-height:100%; 

}
.cntboxheadhome a:hover {
	color:#FFFFFF; font-size:10pt;font-weight:bold;
	text-decoration: underline; color: white;
		line-height:100%; 

}
.cntboxheadhome a:visited {
	color:#FFFFFF; font-size:10pt;font-weight:bold;
	text-decoration: none; color: white;
		line-height:100%; 

}


/* Content Box - Standard Style V1 */

.navbox{
	margin: 0; 
	background:#fff url(graphics/navpanel_right.png) no-repeat bottom right;
}
.navboxhead{
	background: url(graphics/navpanelhead_right.png) no-repeat top right;
}
.navboxbody {
	background: url(graphics/navpanel_left.png) no-repeat bottom left; 
	padding:10px 10px 10px 10px; 
	/*color:#DCDCDC; height:1%; */
	/*color:#DCDCDC; */
	/*margin-bottom:11px;*/
}
.navboxhead h2 {
	background: url(graphics/navpanelhead_left.png) no-repeat top left;
	margin:0; padding:10px 5px 7px 10px; 
/*	color:#C95701; */
	font-size:10pt;}



h1           { 
	font-family: Verdana; font-size: 18pt; 
	color: #C95701; font-weight: bold; 
	/*margin-bottom:-20  removed due to lack of subheadings */
}

.h1home     { 
	font-family: Verdana; font-size: 14pt; 
	color: #C95701; font-weight: bold; 
	margin-bottom:-13 
}
h2           { 
	font-family: Verdana; 
	font-size: 14pt; 
	color: #C95701; font-weight: bold 
}
h2 a           {
	font-family: Verdana; 
	font-size: 14pt; 
	color: #C95701; 
	font-weight: bold 
}
h2 a:hover           {
	font-family: verdana; 
	font-size: 14pt; 
	color: #018EA3 
}
h2 a:visited           {
	font-family: verdana; 
	font-size: 14pt; 
	color: #CC9902
}
.byline{ 
	font-family: Verdana; 
	font-size: 13pt;
	color: #929292; font-weight: bold 
}
.bylinehome { 
	font-family: Verdana; 
	font-size: 10pt;
	color: #929292; font-weight: bold 
}
p { 
	font-family: Verdana; 
	font-size: 11px; 
	color: #0F0F0F; 
	line-height:150% 
}

.homepromo { 
	font-family: Verdana; 
	font-size: 22px; 
	color: #A84402; 
	line-height:130%; 
}
.homepromo a { 
	font-family: Verdana; 
	font-size: 22px; 
	color: #A84402; 
	line-height:130%;
	 }
.homepromo a:hover{
	font-family: Verdana; 
	font-size: 22px; 
	color: #0a0a0a; 
	line-height:130%;
	 }
.homepromo a:visited{
	font-family: Verdana; 
	font-size: 22px; 
	color: #A84402; 
	line-height:130%;
	 }


a            { 
	font-family: verdana; 
	font-size: 9pt; color: #C95701
	 }
a:hover{
	font-family: verdana; 
	font-size: 9pt; 
	color: #018EA3
	 }
a:visited{
	font-family: verdana; 
	font-size: 9pt; 
	color: #CC9902
	 }
.btn_go {
	cursor:hand;
	color:#000;
	font-weight:bold;
	font-size:10px;
	font-family:verdana;
	border:0;
	overflow:visible;
	padding:0 0 0.3em 0 !important;
	padding:0;
	background: url(graphics/login.png) top left no-repeat;
	width: 48px;
	height: 21px;
}
.btn_register {
	cursor:hand;
	color:#000;
	font-weight:bold;
	font-size:10px;
	font-family:verdana;
	border:0;
	overflow:visible;
	padding:0 0 0.3em 0 !important;
	padding:0;
	background: url(graphics/register.png) top left no-repeat;
	width: 65px;
	height: 21px;
}
.navhead {
	color:#FFFFFF; 
	font-size:10pt;
	font-family:Verdana; font-weight:bold
}

.navboxbody p { 
	font-family: Verdana; 
	font-size: 12px; 
	color: #C95701; 


}
.navboxbody a            { 
	font-family: Verdana; 
	font-size:12px; 
	color: #C95701; 
	font-weight:normal;
	text-decoration: none; color: #C95701;
}
.navboxbody a:hover {
	color:#C95701; 
	font-size:12px;
	font-weight:normal;
	text-decoration: underline; color: #C95701;
}
.navboxbody a:visited {
	color:#C95701; 
	font-size:12px;
	font-weight:normal;
	text-decoration: underline; color: #C95701;
}

.breadcrumb { 
	font-family: Verdana; 
	font-size: 9px; 
	color: #000; 
	line-height:100% 

}
.breadcrumb a            { 
	font-family: Verdana; 
	font-size: 9px; 
	color: #C95701; 
	font-weight:normal;
	text-decoration: underline; color: #C95701;
	line-height:100%; 
}
.breadcrumb a:hover {
	color:#C95701; 
	font-size:9px;
	font-weight:normal;
	text-decoration: underline; color: #C95701;
		line-height:100%; 

}
.breadcrumb a:visited {
	color:#C95701; 
	font-size:9px;
	font-weight:normal;
	text-decoration: underline; color: #C95701;
		line-height:100%; 

}


.footer { 
	font-family: Verdana; 
	font-size: 10px; 
	color: #929292; 
	line-height:150% 

}
.footer a            { 
	font-family: Verdana; 
	font-size: 10px; 
	color: #929292; 
	font-weight:normal;
	text-decoration: underline; color: #929292;
}
.footer a:hover {
	font-size: 10px; 
	color: #929292; 
	font-weight:normal;
	text-decoration: underline; color: #929292;
}
.footer a:visited {
	font-size: 10px; 
	color: #929292; 
	font-weight:normal;
	text-decoration: underline; color: #929292;
}

/* New */

button {
	font-family:Verdana; font-weight:bold;
	text-decoration: none;
	border-style: none;
	background-color: transparent;
	color: #fff;
	padding: 0px;
}

button:hover {
	cursor: pointer;
}

input#openid {
	border-style: solid;
	border-width: 1px;
	background: #FFFFFF url(openid-prompt-bg.gif) no-repeat;
	padding: 1px 1px 1px 18px;
	color: #000;
}

.inline * {
	display: inline;
	color: #fff;
}
