/* mflogbot: $Id: style.css 2 2005-12-29 23:25:34Z RobertBachmann $ */
body {
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size : 12px;
background : #ffffff; color : #000000;
}
ol, li {
margin : 0;
padding : 0;
}
ol {
list-style-type : disc;
}
ol.log {
list-style-type : none;
}
cite, q {
font-style : normal;
}
q:before, q:after {
content : "";
}
cite {
font-style : normal;
}
abbr {
font-family : "Courier New", Courier, monospace;
border : 0;
}
.topic span, .mode span, .nick-change span, .join span {
background : transparent;color : #009200;
}
.notice span {
background : transparent;color : #7b0000;
}
.part span, .quit span {
background : transparent;color : #00007b;
}
.action span {
background : transparent;color : #9c009c;
}
.topic-change span {
font-weight : bold;
}
.ping span {
background : transparent;color : #ff0000;
}
ul#navigation {
clear : both;
}
ul#navigation, ul#navigation li {
margin : 0;
padding : 0;
}
ul#navigation li {
float : left;
list-style-type : none;
display : inline;
margin-right : 1.5em;
}
li.fragment {
font-size : 110%;
border : 2px dotted #aaa;
background : #eee;
display: block !important;
}
form#dynamic {
font-size : 90%;
vertical-align : middle;
}
form#dynamic input {
font-size : 90%;
vertical-align : middle;
}
form#dynamic input#save_settings {
margin-left : 1em;
vertical-align : middle;
}
